@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Poppins", sans-serif;
}
::selection {
  background: #409b96;
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}
.section1-wrapper {
  background: url("./assets/herobg.png") no-repeat center;
  background-size: cover;
}
.li-icon li {
  display: flex;
  /* align-items: center; */
  gap: 10px;
}
.line-before {
  position: relative;
  display: inline-block;
  padding-left: 70px;
}
.line-before::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 60px;
  height: 2px;
  margin-right: 10px;
  background-color: #ffffffa2;
}
.stroke-white {
  -webkit-text-stroke: 1px white; /* Apply a 2px white outline */
}

.stroke-2 {
  stroke-width: 2px;
}

.footer-links a,
p {
  @apply flex items-center gap-4 text-[16px];
}
.footer-links span {
  @apply text-3xl text-primary;
}
.carousel-item {
  width: 150px; /* Adjust width as needed */
  height: 150px; /* Adjust height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
}

.carousel-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
/* Mobile Nav */
.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 63px 20px;
  /* justify-content: center; */
  /* align-items: center; */
  transform: translateX(100%);
  transition: transform 0.4s ease;
  z-index: 100;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-social-icons {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.animated-cursor {
  position: fixed !important;
  z-index: 10000 !important;
  pointer-events: none;
}
body > div:first-child {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10000;
}